
<ion-content [fullscreen]="true">
  <ion-header collapse="condence">
    <ion-toolbar>
        <!-- Add an ion-toolbar component to the header with a large title "PokeKnowledge" -->
      <ion-title size="large">PokeKnowledge</ion-title>
    </ion-toolbar>
</ion-header>

<!-- Add a container div with an ion-button component that navigates to "/directors" with a forward direction -->
<div id="container">
  <ion-button [routerLink]="['/directors']" routerDirection="forward">View Pokemon</ion-button>
</div>
</ion-content>
